<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="app">
      <span v-bind:title="message">页面的加载时间</span>

      <hr>
      <p v-if="seen">你现在可以看到我了</p>
	  
	  
      <hr>
      <ol>
        <li v-for="goods in goodsList">{{goods.title}}</li>
      </ol>


      <hr>
      <div>{{message1}}</div>
      <button v-on:click="reverseMessage">翻转消息</button>


      <hr>
      <div>组件演示区域</div>
      <todo-item
        v-for="item in todoList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
	  
	  
	  <hr>
	  <p>Using mustaches:{{rawHTML}}</p>
	  <p>Using v-html directive: <span v-html="rawHtml"></span></p>
	  <hr>
	  <button v-bind:disabled="isButtonDisable">button </button>
	  <hr>
	  <a v-bind:[sd]="url">... </a>
	  
	  
	  <hr>
	  <div id="example">
		  <p>原始的字符串:{{message2}}</p>
		  <p>翻转的字符串:{{reversedMessage2}}</p>
	  </div> 
	  
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      Vue.component("todo-item", {
        props: ["todo"],
        template: "<li>{{todo.text}}</li>"
      });

      var app = new Vue({
        el: "#app",
        data: {
          message: "hello vue " + new Date().toDateString(),
          message1: "王小美学vue",
          seen: true,
          goodsList: [
            { "title": "苹果" },
            { "title": "香蕉" }
          ],
          todoList: [
            { id: 1, text: "油菜" },
            { id: 2, text: "胡萝卜" }
          ],
		  rawHtml:"<span style='color:red'>原生Html </span>",
		  isButtonDisable: true,
		  sd: "href",
		  url: "https://www.bilibili.com/video/BV15Y411W7Bj/?p=8&spm_id_from=pageDriver&vd_source=be66e2e596d7cad20f6838213c9a00d2",
          message2: "王小美在学习Vue"
        },
        computed: {
          reversedMessage2: function () {
            return this.message2.split('').reverse().join('');
          }
        },
        beforeCreate() {
          alert("beforeCreate");
        },
        created() {
          alert("created");
        },
        beforeMount() {
          alert("beforeMount");
        },
        mounted() {
          alert("mounted");
        },
        beforeUpdate() {
          alert("beforeUpdate");
        },
        updated() {
          alert("updated");
        },
        beforeDestroy() {
          alert("beforeDestroy");
        },
        destroyed() {
          alert("destroyed");
        },
        methods: {
          reverseMessage() {
            this.message1 = this.message1.split('').reverse().join('');
          }
        }
      });
    </script>
  </body>
</html>
